body {
  background-color:black;
}
h1{
  color:grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
  color: black;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
}
