body {
  background-color:black;
}
h1{
  color:grey;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
  color: black;
  background-color: white;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 25px;
}
section{
  width: 60%;
  margin: 20px auto;
}
section label{
  display:inline-block;
  min-width: 40%;
}
section .field{
  min-width: 50px;
  text-align: left;
  margin: 10px 0;
}
section button{
  margin-bottom: 10px;
}
